nav ul
{
    display: inline-block;
    white-space: nowrap;
    max-width: 1500px;
    width: 100%;
    background-color: #1a3c40;
    color: white;
    left: 0px;
    padding: 0;
    z-index: 2;
    padding-left: 5%; 
    box-sizing: border-box;
    margin: 0px;
}
nav a{
  text-decoration: none;
  color: #ede6db;
  font-family: 'Courier New', Courier, monospace;
}
a{
  text-decoration: none;
  color: #000000;
}
#cc a{
  color:#f7e2e2;
}
nav{
    background-color: #1a3c40;
    margin-top: 0;
    box-sizing: border-box;
    position: sticky;
    z-index:2;
    top:0%;
    max-width: 100%;
}
nav li
{
    float: right;
    z-index: 2;
    width: 20%;
    font-size:28px;
    display: inline-block;
    text-align: center;
    height: 40px;
    padding: 10px 0px 0px 0px;
    margin-bottom: 0px;
    border: 0px 2px 0px 2px;
    border-color: black;
    margin: 0px;
}
#clubsli
{
  text-align: center;
}
nav ul:hover{
    opacity: 1;
}
nav li:hover{
    top:-2px;
    position: relative;
    border-bottom: 3px solid #b7c9ca;
}
#bigintro
{
    margin-bottom: 0;
    font-size: 8em;
    background-image: linear-gradient(to top left, #1a3c40, #417d7a, #2c555a);
    color:#ede6db;
    text-align: left;
    height: 80%;
    padding: 6%;
    font-family:PP Neue Montreal,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
    line-height: 0.8em;
    padding-top: 4%;
}
#bigintro1{
  margin-bottom:0;
  line-height: 0.8em;
  margin-top: 0;
  padding-right: 5%;
}
#pfp
{
  height: 34%;
  width:17%;
  position: absolute;
  top: 54%;
  left: 4%;
  border-radius: 60%;
  padding: 0;
  border: 3px solid #ede6db;
}
.undergrad
{
  margin-bottom: 0;
    font-size: 1em;
    color:#ede6db;
    font-family:PP Neue Montreal,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
    line-height: 0.0em;
    text-align: right;
    padding-left: 15%;
    margin-top: 0;
}
.gap
{
  font-size: 0em;
  margin-top:0px;
}
#gap1{
  font-size: 0.09em;
}
.fa {
padding: 10px;
font-size: 30px;
width: 30px;
height: 20px;
text-align: center;
text-decoration: none;
}
.fa:hover {
opacity: 0.7;
}
.fa-facebook {
background: #1d5c63;
color: white;
}
.fa-basketball {
  background: #1d5c63;
  color: white;
  }
.fa-linkedin {
background: #1d5c63;
color: white;
}
.fa-instagram {
background: #1d5c63; 
color: white;
}
footer{
background-color: #1d5c63;
padding-left: 20px;
height: 18%;
bottom:0;
}
main
{
line-height: 2em;
font-size: 20px;
text-align: center;
background-color: white;
margin-top: 0;
}
.uhead{
font-size: 100px;
text-align: center;
line-height: 0%;
padding-top: 100px;
margin-top: 0;
color: #0e2224;

}
button{
  width: 100%;
  background-color: #1a3c40;
  border: none;
  color: #ede6db;
  font-size: 28px;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  padding-left: 0px;
  text-align: left;
}
.dropdown
{
display: inline-block;
position: relative;
font-family: 'Courier New', Courier, monospace;
padding-left: 0%;
text-align: left;
}
.dropdown-content {
display: none;
position: absolute;
width: 100%;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
margin: 0px;
border: 0px;
color: #ede6db;
background-color: #1a3c40;
}

.dropdown:hover .dropdown-content {
display: block;
}
.dropdown-content a {
display: block;
color: #ede6db;
padding: 5px;
text-decoration: none;
font-size: 1.8em;
}
.dropdown-content a:hover {
color: #FFFFFF;
background-color: #00A4BD;
}
html{
  scroll-behavior: smooth;
}
.csocs{
  font-size: 20px;
  text-decoration: none;
  padding: 25px;
}
#cc
{
  background-color: #1a132f;
  margin: 0%;
  color: black;
  margin-left: 40px;
  margin-right: 90px;
  border: 1px solid #d9e6e6;
  border-radius: 50px;
  color: #f7e2e2;
  position: relative;
  animation-name: example1;
  animation-delay: 2s;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
}
#kgts
{
  background-color: #f7e2e2;
  margin: 0%;
  text-align: right;
  margin-right: 40px;
  margin-left:90px;
  position: relative;
  border: 1px solid #d9e6e6;
  border-radius: 50px;
  animation-name: example;
  animation-delay: 2s;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
}

@keyframes example {
  from {left: -90px;}
  to {left: 0px;}
}
@keyframes example1 {
  from {right: -90px;}
  to {right: 0px;}
}
#kdag
{
  background-color: #61a4bc;
  margin: 0%;
  color: black;
  margin-left: 40px;
  margin-right: 90px;
  position: relative;
  border: 1px solid #d9e6e6;
  border-radius: 50px;
  animation-name: example1;
  animation-delay: 2s;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
}
#swg
{
  background-color: #5b7db1;
  margin: 0px;
  text-align: right;
  margin-left: 90px;
  position: relative;
  margin-right: 40px;
  border: 1px solid #d9e6e6;
  border-radius: 50px;
  animation-name: example;
  animation-delay: 2s;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
}   
.clubsh
{
  font-size: 72px;
}
#clubsp
{
  padding-top: 40px;
  margin-bottom: 60px;
}
#copyright
{
  text-align: center;
  font-size: 18px;
  background-color: #1a3c40;
  color: white;
  bottom:0px;
}
#toparrow, #downarrow
{
  font-size: 30px;
  position: fixed;
  text-align: right;
  top: 80%;
  left:96%;
  border-radius: 200px;
  border: 1px solid black;
  padding-left: 10px;
  padding-bottom: 15px;
  padding-right: 15px;
  max-width: 40px;
  max-height: 40px;
  box-sizing: border-box;
}
#downarrow{
  top:88%;
}
.vl {
  border-left: 2px solid lightgray;
  height: 750px;
  display: inline-block;
}
#artwork
{
  background-image: linear-gradient(#ede6db, white);
}
#bose,#patekar
{
  height: 60%;
  width:30%;
}

#avanti
{
  width: 48%;
  height: 40%;
  padding-bottom: 0;
  padding-top: 0%;
}
#canvas1,#canvas2{
  width: 44%;
  height: 66%;
}
#canvas1{
  
  border-left: 10px solid #1a3c40;
  border-top: 10px solid #1a3c40;
  border-top-left-radius: 36px;
  padding-left: 2%;
  padding-top: 2%;
}
#girlportrait{
  width:20%;
  height: 50%;
  padding-right: 14%;
  padding-top: 0;
  padding-bottom: 2%;
  
  border-right: 10px solid #1a3c40;
  border-bottom: 10px solid #1a3c40;
  border-bottom-right-radius: 36px;
}
.smlinks{
  font-size: 28px;
  color: #ede6db;
  font-family: 'Courier New', Courier, monospace;
}
#number{
  font-size: 26px;
  float: right;
  padding-right: 2%;
  color: #ede6db;
  font-family: 'Courier New', Courier, monospace;
}
#aboutp img{
  height: 125px;
  width: 125px;
  padding: 10px;
  border: 5px solid #1a3c40;
  border-radius: 100px;
}
#aboutp{
  border-right: 10px solid #1a3c40;
  border-bottom: 10px solid #1a3c40;
  border-bottom-right-radius: 36px;
  background-color: #ede6db;
  font-family: "Noto Sans","Helvetica Neue","Helvetica","Arial","Liberation Sans","Roboto","Noto",sans-serif;
}
#aboutcontent{
  padding-right: 8%;
  padding-left: 24%;
  text-align: left;
  padding-bottom: 3%;
  font-size: 36px;
}
.column {
  float: left;
  width: 18%;
  padding: 1.5% 0.5% 1.5% 0.5%;
  margin: 1.5%;
  height: 275px;
  background-color: #f0f0e6;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px #000000;
  z-index:0;
}
.column:hover{
  top:-2px;
  position: relative;
  z-index: 0;
}
#basket{
  margin-left:7.5%;
}
#athlete{
  margin-right:7.5%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#f1{
  height: 60px;
  width:150px;
}
.aboutbox
{
  font-size: 40px;
}
